body {
    background-color: black;
    color: white;
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  }
.container{
    background-color: white;
    color: black;
}
.meme-area{
    max-width: 600px;
    margin: auto;
}
.meme-image{
    width: 100%;
    height: auto;
}